<div class="viewuser-page">
    <div class="viewuser-toolbar">
        <div class="left-toolbar">
            <span id="adminVenues" (click)="onClickVenue()">Venue</span>
            <span id="adminTeams" (click)="onClickTeams()">Teams</span>
            <span id="adminReferee" (click)="onClickReferee()">Referee</span>
            <span id="viewuser">View user</span>
        </div>
        <div class="right-toolbar">
            <span id="logout" (click)="logout()">Logout</span>
        </div>
    </div>
    <div class="viewuser-body">
        <table>
            <tr>
                <th>User name</th>
                <th>email</th>
                <th>mobile</th>
                <th>action</th>
            </tr>
            <tr *ngFor='let user of users; let i=index'>
                <td>{{user.userName}}</td>
                <td>{{user.email}}</td>
                <td>{{user.mobileNumber}}</td>
                <td>
                    <a class="deletebutton" (click)="deleteUser(user.id)">delete</a>
                </td>
            </tr>
        </table>

    </div>
</div>