<div id="sign_page">
    <select id="admin/user">
        <option value="none" selected disabled hidden>Admin/User</option>
        <option value="user">User</option>
        <option value="admin">Admin</option>
    </select><br>
    <input type="text"id="email" value="" placeholder="Email"><br>
    <input type="text"id="username" value="" placeholder="username"><br>
    <input type="text"id="mobilenumber" value="" placeholder="mobilenumber"><br>
    <input type="text"id="password" value="" placeholder="password"><br>
    <input type="text"id="conformpassword" value="" placeholder="conformpassword"><br>
    <button id="user_link"> <a [routerLink]="['/user/login']">Submit</a> </button>
</div>