<app-user-header></app-user-header>
<div class="container-fluid p-0">

    <div class="container-fluid stuck-content w-50 text-center">
        <h1 data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1200">{{typedText}}|
        </h1>
        <hr data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1200">
        <p class="fw-bold" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="700">Here you manage your
            Baseball Event. Click on the <span class="fw-bolder fs-5" style="color: #feb900;">BOOK EVENT</span> to book an Event
        </p>

    </div>
    <!--Image Carousel-->
    <div class="row custom">
        <div class="col">
            <div id="carouselExampleControls" class="carousel slide carousel-custom" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/assets/bg-img1.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/assets/bg-img2.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/assets/bg-img3.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/assets/bg-img4.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>

<!--Services-->

<div class="main">
    <div class="container-fluid container-2 pt-4" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="600">
        <div class="row">
            <div class="col-md text-center">
                <h1><span style="color: #feb900;">&mdash;</span> Services <span style="color: #feb900;">&mdash;</span>
                </h1>
                <p class="mw-50 m-auto">Below the listed Services we provides to the Organisers...</p>
            </div>
        </div>
    </div>


    <div class="container-fluid container-3 " style="margin-top: 5rem;">
        <div class="row justify-content-around">

            <div class="col-md-5" data-aos="zoom-in-up" data-aos-duration="1500">
                <img src="https://images.wsj.net/im-732171?width=1280&size=1" alt="" class="w-100"
                    style="height: 90vh;">
            </div>

            <div class="col-md-5 mt-3">
                <div class="row d-block">
                    <div class="col-md d-flex mt-5" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="500">
                        <i class="fa-solid fa-house-circle-check"></i>
                        <div class="container">
                            <h3>Book Event</h3>
                            <p>Oragniser can Book Event by choosing the particular Venue and fill the details in the Book Event Form.</p>
                        </div>
                    </div>

                    <div class="col-md d-flex mt-4" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="600">
                        <i class="fa-solid fa-list-check"></i>
                        <div class="container">
                            <h3>Choose Teams</h3>
                            <p>Organiser can also choose the particular Teams for the particular Event.</p>
                        </div>
                    </div>

                    <div class="col-md d-flex mt-4" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="700">
                        <i class="fa-regular fa-sun"></i>
                        <div class="container">
                            <h3>Choose Refrees</h3>
                            <p>Organiser can also choose the Referee for the Booked Venue.</p>

                        </div>
                    </div>

                    <div class="col-md d-flex mt-4" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="800">

                        <i class="fa-regular fa-sun"></i>
                        <div class="container">
                            <h3>View Booked Venue</h3>
                            <p>Organiser can also view the Events which he/she already booked. </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>



    <!--Famous Players-->

    <div class="container-fluid testimonial" style="margin-top: 5rem;" data-aos="fade-up" data-aos-easing="linear"
        data-aos-duration="600">
        <div class="row ">
            <div class="col text-center">
                <h1><span style="color: #feb900;">&mdash;</span> Star Players <span
                        style="color: #feb900;">&mdash;</span></h1>
            </div>
        </div>
    </div>



    <div class="container-fluid  mt-5 container-teams" data-aos="fade-up" data-aos-easing="linear"
        data-aos-duration="400">
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel"
            style="height: 65vh;">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="3000">
                    <div class="container-fluid d-flex p-4" style="width: 90%;">
                        <div class="container-fluid" style="width: 55%;">
                            <div class="container-fluid p-0 image"
                                style="width: 8%; height: 8%; background-color: #F5F6F7; border-radius: 10px;">
                                <img src="https://dodgerblue-com.exactdn.com/wp-content/uploads/2021/08/Shohei-Ohtani.jpg?strip=all&lossy=1&ssl=1"
                                    alt="" class="w-100 p-2">
                            </div>
                            <div class="container-fluid cards-team" style="width: 85%; background-color: #F5F6F7;">
                                <div class="p-5 ms-5">
                                    <h2>Shohei Ohtani</h2>
                                    <h6>Team : Los Angeles Angels</h6>
                                    <span class="fs-3"
                                        style="color: #feb900;">&#9733;&#9733;&#9733;&#9733;&#9733;</span>
                                    <p class="w-100">Shohei Ohtani (born July 5, 1994), is a Japanese
                                        professional baseball pitcher, and outfielder for the Los Angeles Angels of
                                        Major League
                                        Baseball (MLB).</p>
                                </div>
                            </div>
                        </div>


                        <div class="container-fluid" style="width: 55%;">
                            <div class="container-fluid p-0 image"
                                style="width: 8%; background-color: #F5F6F7; border-radius: 10px;">
                                <img src="https://cdn-japantimes.com/wp-content/uploads/2022/12/np_file_198648.jpeg"
                                    alt="" class="w-100 p-2" style="height: 13vh;">
                            </div>
                            <div class="container-fluid cards-team" style="width: 85%; background-color: #F5F6F7;">
                                <div class="p-5 ms-5">
                                    <h2>Aaron Judge</h2>
                                    <h6>Team : New York Yankees</h6>
                                    <span class="fs-3"
                                        style="color: #feb900;">&#9733;&#9733;&#9733;&#9733;&#9733;</span>
                                    <p class="w-100">Aaron James Judge (born April 26, 1992) is an American professional
                                        baseball outfielder for the New York Yankees of Major League Baseball (MLB).</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <div class="container-fluid d-flex p-4" style="width: 90%;">
                        <div class="container-fluid" style="width: 55%;">
                            <div class="container-fluid p-0 image"
                                style="width: 8%; background-color: #F5F6F7; border-radius: 10px;">
                                <img src="https://www.si.com/.image/ar_4:3%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cq_auto:good%2Cw_1200/MTk2NzEyMzUzNzQ2NjU4ODM4/mike-trout-wbc.jpg"
                                    alt="" class="w-100 p-2">
                            </div>
                            <div class="container-fluid cards-team" style="width: 85%; background-color: #F5F6F7;">
                                <div class="p-5 ms-5">
                                    <h2>Michael Nelson Trout</h2>
                                    <h6>Team : Los Angeles Angels</h6>
                                    <span class="fs-3"
                                        style="color: #feb900;">&#9733;&#9733;&#9733;&#9733;&#9733;</span>
                                    <p class="w-100">Michael Nelson Trout (born August 7, 1991) is an American
                                        professional baseball center fielder for the Los Angeles Angels of Major League
                                        Baseball (MLB).</p>
                                </div>
                            </div>
                        </div>


                        <div class="container-fluid" style="width: 55%;">
                            <div class="container-fluid p-0 image"
                                style="width: 8%; background-color: #F5F6F7; border-radius: 10px;">
                                <img src="https://encrypted-tbn1.gstatic.com/licensed-image?q=tbn:ANd9GcSN16e1SoSynUcXrS2nzVCvXtCebq1tpWuuNmAbw7ET7xrS-UvnBygQnhHREj2J_gMX-a0Uqf9g3XR5Vrk"
                                    alt="" class="w-100 p-2" style="height: 13vh;">
                            </div>
                            <div class="container-fluid cards-team" style="width: 85%; background-color: #F5F6F7;">
                                <div class="p-5 ms-5">
                                    <h2>Manny Machado</h2>
                                    <h6>Team : San Diego Padres</h6>
                                    <span class="fs-3"
                                        style="color: #feb900;">&#9733;&#9733;&#9733;&#9733;&#9733;</span>
                                    <p class="w-100">Manuel Machado is an American professional baseball third
                                        baseman and shortstop for the San Diego Padres of Major League Baseball (MLB).
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="carousel-item">
                    <div class="container-fluid d-flex p-4" style="width: 90%;">
                        <div class="container-fluid" style="width: 55%;">
                            <div class="container-fluid p-0 image"
                                style="width: 8%; background-color: #F5F6F7; border-radius: 10px;">
                                <img src="https://bloximages.newyork1.vip.townnews.com/stltoday.com/content/tncms/assets/v3/editorial/6/33/6331b154-5fa8-50d8-a72a-e2a3cfdf7425/635d768f18cfe.image.jpg?resize=1200%2C797"
                                    alt="" class="w-100 p-2" style="height: 13vh;">
                            </div>
                            <div class="container-fluid cards-team" style="width: 85%; background-color: #F5F6F7;">
                                <div class="p-5 ms-5">
                                    <h2>Nolan Arenado</h2>
                                    <h6>Team : St. Louis Cardinals </h6>
                                    <span class="fs-3"
                                        style="color: #feb900;">&#9733;&#9733;&#9733;&#9733;&#9733;</span>
                                    <p class="w-100">Nolan James Arenado is an American professional baseball third
                                        baseman for the St. Louis Cardinals of Major League Baseball. </p>
                                </div>
                            </div>
                        </div>


                        <div class="container-fluid" style="width: 55%;">
                            <div class="container-fluid p-0 image"
                                style="width: 8%; background-color: #F5F6F7; border-radius: 10px;">
                                <img src="https://ca-times.brightspotcdn.com/dims4/default/cd7b108/2147483647/strip/true/crop/6000x4000+0+0/resize/1200x800!/quality/80/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2F18%2F09%2F2d73651b6eef63ee0fa84b384fd8%2Fc10dc4e9996642bbae1dfb93b0165aac"
                                    alt="" class="w-100 p-2" style="height: 13vh;">
                            </div>
                            <div class="container-fluid cards-team" style="width: 85%; background-color: #F5F6F7;">
                                <div class="p-5 ms-5">
                                    <h2>Paul Goldschmidt</h2>
                                    <h6>Team : St. Louis Cardinals</h6>
                                    <span class="fs-3"
                                        style="color: #feb900;">&#9733;&#9733;&#9733;&#9733;&#9733;</span>
                                    <p class="w-100">Paul Edward Goldschmidt is an American professional baseball first
                                        baseman for the St. Louis Cardinals of Major League Baseball.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
