#index_page
{
    text-align: center;
    margin-top: 350px;
}
#admin_link
{
    margin-right: 100px;
    border: 1px solid;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}
#user_link
{
    border: 1px solid;
    text-decoration:none;
    padding: 10px;
    border-radius: 5px;
}
a{
    text-decoration: none;
}