#login_page
{
    text-align: center;
    margin-top: 180px;
}
#email
{
    padding: 10px 50px 10px 10px;
    margin-bottom: 20px;
}
#Password
{
    padding: 10px 50px 10px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#user_link,a
{
    text-decoration: none;
}
#login
{
    padding: 5px 20px 5px 20px;
    margin-bottom: 10px;
}