@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
.heading h1 {
  font-family: "Permanent Marker";
}

.heading .col{
  display: flex;
  justify-content: center;
}

.main {
  background-image: url("/assets/pattern.jpg");
  background-size: 1500px;
}
.signup-container {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 15px;
}

@media (max-width: 768px) {
  .image-container img {
    display: none;
  }

  .signup-container {
    position: relative;
    top: -5rem;
    width: 90%;
    margin: auto;
  }

  .heading .col {
    display: block;
    text-align: center;
  }
}