<div class="viewbookedevent-page">
    <div class="viewbookedevent-toolbar">
        <div class="left-toolbar">
            <span hidden>Baseball event</span>
            <span id="BookEvent" (click)="onClickBookEvent()">Book Event</span>
            <span id="UserViewBookEvent">View Booked Event</span>
        </div>
        <div class="right-toolbar">
            <span id="logout">Logout</span>
        </div>
        
    </div>
    <div class="viewbookedevent-body">

        
    </div>
    
</div>