<div class="adminreferee-page">

    <div class="adminreferee-toolbar">
        <div class="left-toolbar">
            <span id="adminVenues" (click)="onClickVenue()">Venue</span>
            <span id="adminTeams" (click)="onClickTeams()">Teams</span>
            <span id="adminReferee">Referee</span>
            <span id="viewuser" (click)="onClickViewuser()">View user</span>
        </div>
        <div class="right-toolbar">
            <span id="logout" (click)="logout()">Logout</span>
        </div>
    </div>
    
    <div class="adminreferee-body">
        <div *ngIf="isShowReferees" class="showreferees">
            <div class="searchreferee">
                <input [(ngModel)]="searchKey" placeholder="Referee name">
                <span class="searchbutton" (click)="searchReferee()">Search</span>
            </div>
            <div class="displayreferee" >
                <span *ngFor='let refereeDetails of refereesDetail; let i=index' class="refereedetail">
                    <img class="refereeimg" src={{refereeDetails.refereeImage}} alt="pic" width="250" height="200">
                    
                    <h3 *ngIf="!editRefereeCards[i].isEdit">Name : {{refereeDetails.refereeName}}</h3>
                    <h3 *ngIf="editRefereeCards[i].isEdit">Name : </h3>
                    <input *ngIf="editRefereeCards[i].isEdit" [(ngModel)] = "refereeInfo.refereeName">
                    <span *ngIf="editRefereeCards[i].isEdit" class="errormsg">
                        {{nameValidStatus}}
                    </span>
                    Experience in matches 
                    <h5 *ngIf="!editRefereeCards[i].isEdit">{{refereeDetails.noOfMatches}}</h5>
                    <input *ngIf="editRefereeCards[i].isEdit" [(ngModel)] = "refereeInfo.noOfMatches" type="number">
                    <span *ngIf="editRefereeCards[i].isEdit" class="errormsg">
                        {{experienceValidStatus}}
                    </span>
                    Location : 
                    <h5 *ngIf="!editRefereeCards[i].isEdit">{{refereeDetails.refereeLocation}}</h5>
                    <input *ngIf="editRefereeCards[i].isEdit" [(ngModel)] = "refereeInfo.refereeLocation">
                    <span *ngIf="editRefereeCards[i].isEdit" class="errormsg">
                        {{locationValidStatus}}
                    </span>
                    <h3 *ngIf="editRefereeCards[i].isEdit">ImageLink : </h3>
                    <input *ngIf="editRefereeCards[i].isEdit" [(ngModel)] = "refereeInfo.refereeImage">
                    <span *ngIf="editRefereeCards[i].isEdit" class="errormsg">
                        {{imgurlValidStatus}}
                    </span>
                    <span class="iconContainer">
                        <svg *ngIf="!editRefereeCards[i].isEdit" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16" (click)="onEdit(refereeDetails.refereeId)">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                        </svg>

                        <svg *ngIf="editRefereeCards[i].isEdit" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-square-fill" viewBox="0 0 16 16" (click)="onSave()">
                            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm10.03 4.97a.75.75 0 0 1 .011 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.75.75 0 0 1 1.08-.022z"/>
                          </svg>

                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16" (click)="deleteReferee(refereeDetails.refereeId)">
                            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                        </svg>

                        <svg *ngIf="editRefereeCards[i].isEdit" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16" (click)="cancelEdit(refereeDetails.refereeId)">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                          </svg>
                    </span>
                </span>
                <span *ngIf="refereesDetail.length === 0" class="refereeStatus">
                    {{refereeStatus}}
                </span>
            </div>
            <span class="addrefereebutton" (click)="showAddReferee()">Add Referee</span>
        </div>

        <div *ngIf="!isShowReferees" class="addrefereeContainer">
            <span class="field refereename">
                Referee name : 
                <input placeholder="Referee name" [(ngModel)] = "refereeInfo.refereeName">
            </span>
            <span class="errormsg">
                {{nameValidStatus}}
            </span>
            <span class="field refereelocation">
                Referee location: 
                <input placeholder="Referee location" [(ngModel)] = "refereeInfo.refereeLocation">
            </span>
            <span class="errormsg">
                {{locationValidStatus}}
            </span>
            <span class="field refereeexperience">
                Experience in matches : 
                <input placeholder="Number of matches" [(ngModel)] = "refereeInfo.noOfMatches" type="number">
            </span>
            <span class="errormsg">
                {{experienceValidStatus}}
            </span>
            <span class="field refereeimageurl">
                Image url : 
                <input placeholder="Image url" [(ngModel)] = "refereeInfo.refereeImage">
            </span>
            <span class="errormsg">
                {{imgurlValidStatus}}
            </span>
            <div class="addrefereebuttons">
                <span class="veiwrefereesbutton" (click)="showReferees()">View Referee</span>
                <span class="addrefereebutton" (click)="addReferee()">Add Referee</span>
            </div>
        </div>
    </div>  
</div> 