<div class="login-page">
    <div class="login-header">
        Login
    </div>
    <div class="login-body">
        <input id="email" [(ngModel)]="email" placeholder="Enter email">
        <input id="password" [(ngModel)]="password" type="password" placeholder="Enter Password">  
        <div class="login-register">
            <span id="loginButton" (click)="onClickLogin()">Login</span>
            <span>New User/admin?</span>
            <a id="signupLink" routerLink="/user/register"> Sign Up</a>
        </div>
    </div>
    
</div>