
<div class=" main container-fluid-md">


    <form [formGroup]="bookEventForm" class="p-5 ">

        <div class="row mt-2">
            <div class="col-md-5 mt-2">

                <select class="form-select p-2" aria-label="Default select example" formControlName="team1"
                     (change)="onFirstTeamFieldChange()">
                    <option value="" disabled selected >Choose First Team</option>
                    <option *ngFor="let option of firstTeamOptions" [value]="option">{{ option }}</option>
                </select>

                <!--Validation Team 1-->
                <div class="ms-2"
                    *ngIf="bookEventForm.get('team1').errors && (bookEventForm.get('team1').touched ||bookEventForm.get('team1').dirty)">
                    <div class="form-text text-danger" *ngIf="bookEventForm.get('team1').errors.required">
                        Team-1 is required.
                    </div>
                </div>
            </div>

            <div class="col-md-5 mt-2">

                <select class="form-select p-2" aria-label="Default select example" formControlName="team2"
                    (change)="onSecondTeamFieldChange()">
                    <option value="" disabled selected>Choose Second Team</option>
                    <option *ngFor="let option of secondTeamOptions" [value]="option"
                        [disabled]="disableTeam2Option(option)">{{ option }}</option>
                </select>

                <!--Validation Team 2-->
                <div class="ms-2"
                    *ngIf="bookEventForm.get('team2').errors && (bookEventForm.get('team2').touched ||bookEventForm.get('team2').dirty)">
                    <div class="form-text text-danger" *ngIf="bookEventForm.get('team2').errors.required">
                        Team-2 is required.
                    </div>
                </div>
            </div>
        </div>


        <!--Choose Referee-->
        <div class="row mt-2">
            <div class="col-md-5 mt-2">

                <select class="form-select p-2" aria-label="Default select example" formControlName="ReefreeName"
                    (change)="onRefereeChange()">
                    <option value="" disabled selected>Choose Referee</option>
                    <option *ngFor="let option of refreeOptions" [value]="option">{{ option }}</option>
                </select>
            </div>

            <!--Validation Referee Name-->
            <div class="ms-2"
                *ngIf="bookEventForm.get('ReefreeName').errors && (bookEventForm.get('ReefreeName').touched ||bookEventForm.get('ReefreeName').dirty)">
                <div class="form-text text-danger" *ngIf="bookEventForm.get('ReefreeName').errors.required">
                    Referee Name is required.
                </div>
            </div>

        </div>


        <!--Venue Name-->
        <div class="row mt-2">
            <div class="col-md-5 mt-2">
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-pen-fancy"></i></span>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInput" formControlName="eventName"
                            name="eventName" readonly [(ngModel)]="bookEventForm.eventName"
                            placeholder="name@example.com">
                        <label for="floatingInput">Venue name</label>
                    </div>
                </div>


            </div>

            <!--Applicant Name-->
            <div class="col-md-5 mt-2">
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-pen-fancy"></i></span>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInput" formControlName="applicantName"
                            placeholder="name@example.com" [(ngModel)]="name">
                        <label for="floatingInput">Applicant Name</label>
                    </div>
                </div>

                <!--Validation Applicant Name-->
                <div class="ms-2"
                    *ngIf="bookEventForm.get('applicantName').errors && (bookEventForm.get('applicantName').touched ||bookEventForm.get('applicantName').dirty)">
                    <div class="form-text text-danger" *ngIf="bookEventForm.get('applicantName').errors.required">
                        Applicant Name is required.
                    </div>

                    <div class="form-text text-danger" *ngIf="bookEventForm.get('applicantName').errors.pattern">
                        Invalid Applicant Name format.
                    </div>
                </div>
            </div>
        </div>

        <!--Applicant Address-->

        <div class="row mt-2">
            <div class="col-md-5 mt-2">
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-location-dot"></i></span>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInput" formControlName="applicantAddress"
                            placeholder="name@example.com">
                        <label for="floatingInput">Applicant Address</label>
                    </div>
                </div>

                <!--Validation Applicant Address-->
                <div class="ms-2"
                    *ngIf="bookEventForm.get('applicantAddress').errors && (bookEventForm.get('applicantAddress').touched ||bookEventForm.get('applicantAddress').dirty)">
                    <div class="form-text text-danger" *ngIf="bookEventForm.get('applicantAddress').errors.required">
                        Applicant Address is required.
                    </div>

                    <div class="form-text text-danger" *ngIf="bookEventForm.get('applicantAddress').errors.pattern">
                        Invalid Applicant Address format.
                    </div>

                    <div class="form-text text-danger" *ngIf="bookEventForm.get('applicantAddress').errors.minlength">
                        Applicant Address is too short!
                    </div>
                </div>
            </div>


            <!--Applicant Mobile Number-->
            <div class="col-md-5 mt-2">
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-phone"></i></span>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInput" formControlName="applicantMobile"
                            placeholder="name@example.com" [(ngModel)]="number">
                        <label for="floatingInput">Applicant Mobile</label>
                    </div>
                </div>

                <!--Validation Applicant Mobile Number-->
                <div class="ms-2"
                    *ngIf="bookEventForm.get('applicantMobile').errors && (bookEventForm.get('applicantMobile').touched ||bookEventForm.get('applicantMobile').dirty)">
                    <div class="form-text text-danger" *ngIf="bookEventForm.get('applicantMobile').errors.required">
                        Applicant Mobile Number is required.
                    </div>

                    <div class="form-text text-danger" *ngIf="bookEventForm.get('applicantMobile').errors.pattern">
                        Invalid Applicant Mobile Number format.
                    </div>
                </div>
            </div>
        </div>


        <!--Applicant Email Id-->
        <div class="row mt-2">
            <div class="col-md-5 mt-2">
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-envelope"></i></span>
                    <div class="form-floating">
                        <input type="email" class="form-control" id="floatingInput" formControlName="applicantEmail"
                            placeholder="name@example.com" [(ngModel)]="to">
                        <label for="floatingInput">Applicant Email</label>
                    </div>
                </div>

                <!--Validation Applicant Email-->
                <div class="ms-2"
                    *ngIf="bookEventForm.get('applicantEmail').errors && (bookEventForm.get('applicantEmail').touched ||bookEventForm.get('applicantEmail').dirty)">
                    <div class="form-text text-danger" *ngIf="bookEventForm.get('applicantEmail').errors.required">
                        Applicant Email is required.
                    </div>

                    <div class="form-text text-danger" *ngIf="bookEventForm.get('applicantEmail').errors.email">
                        Invalid Email format.
                    </div>
                </div>
            </div>

            <!--Event Address-->
            <div class="col-md-5 mt-2">
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-location-dot"></i></span>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInput" formControlName="eventAddress"
                            placeholder="name@example.com" readonly name="eventAddress"
                            [(ngModel)]="bookEventForm.eventAddress">
                        <label for="floatingInput">Event Address</label>
                    </div>
                </div>

            </div>
        </div>


        <!--Date Of Event-->
        <div class="row mt-2">

            <!--From Date-->
            <div class="col-md-5 mt-2">
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping"><i
                            class="fa-regular fa-calendar-days"></i></span>
                    <div class="form-floating">
                        <input type="date" class="form-control" id="floatingInput" formControlName="eventFromDate"
                            placeholder="name@example.com" [(ngModel)]="selectedFromDate" min="{{minDate}}"
                            (change)="checkDateValidityFrom()">
                        <label for="floatingInput">Event Date From</label>
                    </div>
                </div>

                <!--Validation Event From Date-->
                <div class="ms-2"
                    *ngIf="bookEventForm.get('eventFromDate').errors && (bookEventForm.get('eventFromDate').touched ||bookEventForm.get('eventFromDate').dirty)">
                    <div class="form-text text-danger" *ngIf="bookEventForm.get('eventFromDate').errors.required">
                        Event From Date is required.
                    </div>
                </div>

                <div class="text-danger" *ngIf="bookEventForm.hasError('dateRangeInvalid')">Date range is Invalid!</div>
            </div>

            <!--To Date-->
            <div class="col-md-5 mt-2">
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping"><i
                            class="fa-regular fa-calendar-days"></i></span>
                    <div class="form-floating">
                        <input type="date" class="form-control" id="floatingInput" formControlName="eventToDate"
                            placeholder="name@example.com" [(ngModel)]="selectedToDate" min="{{minDate}}"
                            (change)="checkDateValidityTo()">
                        <label for="floatingInput">Event Date To</label>
                    </div>
                </div>

                <!--Validation Event To Date-->
                <div class="ms-2"
                    *ngIf="bookEventForm.get('eventToDate').errors && (bookEventForm.get('eventToDate').touched ||bookEventForm.get('eventToDate').dirty)">
                    <div class="form-text text-danger" *ngIf="bookEventForm.get('eventToDate').errors.required">
                        Event To Date is required.
                    </div>
                </div>
            </div>
        </div>



        <!--Time-->
        <div class="row mt-2">
            <div class="col-md-5 mt-2">
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping"><i class="fa-regular fa-clock"></i></span>
                    <div class="form-floating">
                        <input type="time" class="form-control" id="floatingInput" formControlName="time"
                            placeholder="name@example.com">
                        <label for="floatingInput">Event Time</label>
                    </div>
                </div>

                <!--Validation Time-->
                <div class="ms-2"
                    *ngIf="bookEventForm.get('time').errors && (bookEventForm.get('time').touched ||bookEventForm.get('time').dirty)">
                    <div class="form-text text-danger" *ngIf="bookEventForm.get('time').errors.required">
                        Event Time is required.
                    </div>
                </div>
            </div>

            <!--Team Members-->
            <div class="col-md-5 mt-2">
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-user-group"></i></span>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInput" formControlName="members"
                            placeholder="name@example.com">
                        <label for="floatingInput">No. of team members</label>
                    </div>
                </div>

                <!--Validation Applicant Members-->
                <div class="ms-2"
                    *ngIf="bookEventForm.get('members').errors && (bookEventForm.get('members').touched ||bookEventForm.get('members').dirty)">
                    <div class="form-text text-danger" *ngIf="bookEventForm.get('members').errors.required">
                        Applicant Members is required.
                    </div>

                    <div class="form-text text-danger" *ngIf="bookEventForm.get('members').errors.pattern">
                        Invalid Applicant Members format.
                    </div>
                </div>
            </div>
        </div>



        <input hidden type="text" formControlName="eventPrice" name="eventPrice" [(ngModel)]="bookEventForm.eventPrice">



        <div class="mt-3 offset-9">
            <button (click)="sendBookEventDetails()" class="btn btn-primary p-2">Book Event</button>
        </div>
    </form>
</div>
