
.heading h1 {
  font-family:'Times New Roman', Times, serif;
  font-weight: bold;
}


.heading .col {
  display: flex;
  justify-content: center;
}

.icon i {
  margin: 5px;
  font-size: 2rem;
}

.form-container{
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius: 25px;
}

@media (max-width: 900px) {
  .wave {
    display: none;
  }
}

@media (max-width: 768px) {
  .heading .col {
    display: block;
    text-align: center;
  }

  .login-container img{
    display: none;
  }
}
