<div class="homepage">
    <div class="homepage-toolbar">
        <div class="left-toolbar">
            <span id="BaseballEvent">Baseball event</span>
            <span id="BookEvent" (click)="onClickBookEvent()">Book Event</span>
            <span id="UserViewBookEvent" (click)="onClickViewBookedEvent()">View Booked Event</span>
        </div>
        <div class="right-toolbar">
            <span id="logout">Logout</span>
        </div>
        
    </div>
    <div class="homepage-body">

        
    </div>
    
</div>