<div>
    <div id="header">
        <div class="leftcol" [ngClass]="{'width50': !hidelogout}">{{title}}</div>
        <div *ngIf="!hidelogout" class="rightcol" [ngClass]="{'width50': !hidelogout}">
            <a id="logout" [routerLink]="['/user/logout']">Log out</a>
        </div>
    </div>
    <div>
        <a id="userbookevent" [routerLink]="['/user/bookEvent']">Book event</a>
        <a id="userviewbookevent" [routerLink]="['/user/viewbookEvent']">View Book event</a>
        <router-outlet (activate)='onActivate($event)'></router-outlet>
    </div>
</div>