<app-admin-header></app-admin-header>
<div class="container-fluid">

    <!--Venues-->
    <div class="main container-fluid-md pb-5">

        <!--Search Venues-->
        <nav class="navbar bg-light">
            <div class="container-fluid text justify-content-center mt-4">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </nav>



        <!--Venues Card-->

        <div class="row mt-5 venues-card" style="width: 80%; margin: auto;">
            <div class="col-md-4 mb-3" *ngFor="let team of TeamList">
                <a class="nav-link">
                    <div class="card">
                        <img src={{team.teamImage}} class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <h5 class="card-title fw-bold">{{team.teamName}}</h5>
                                <span style="color: #feb900;"><i class="fa-solid fa-star"></i><i
                                        class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                        class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></span>
                            </div>

                            <div class="d-flex justify-content-between mt-2">
                                <p class="card-text">{{team.teamLocation}}</p>
                                <span>
                                    <a data-bs-toggle="modal" data-bs-target="#exampleModal"
                                        (click)="getPlayers(team.teamId)" style="cursor:pointer"
                                        ngbTooltip="View Players" [placement]="'bottom'"><i
                                            class="fa-solid fa-people-group fs-4"></i></a>

                                    <a style="cursor:pointer" ngbTooltip="Delete Team" [placement]="'bottom'"
                                        (click)="deleteTeamDetails(team.teamId)"><i
                                            class="fa-solid fa-trash-can fs-4 ms-3"></i></a>
                                    <a (click)="getTeam(team.teamId)" ngbTooltip="Edit Team" [placement]="'bottom'"
                                        data-bs-toggle="modal" data-bs-target="#exampleModal2"
                                        style="color: rgb(55, 52, 52); cursor: pointer;"><i
                                            class="fa-solid fa-pen-to-square fs-4 ms-3"></i></a></span>
                            </div>

                        </div>
                    </div>
                </a>
            </div>

            <div class="row mt-3">
                <div class="col-6">
                    <button type="submit" class="btn btn-success p-2 fw-bold" routerLink="/add-team">ADD TEAM</button>
                </div>
            </div>
        </div>


    </div>
</div>

<!--Player List popup-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-striped-columns text-center">
                    <thead>
                        <tr>
                            <th>Player FirstName</th>
                            <th>Player LastName</th>
                            <th>Gender</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody *ngFor="let player of PlayerList">
                        <tr>

                            <td>{{player.playerFirstName}}</td>
                            <td>{{player.playerLastName}}</td>
                            <td>{{player.playerGender}}</td>
                            <td><a (click)="getPlayer(player.playerId)" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal1" style="color: rgb(55, 52, 52); cursor: pointer;"><i
                                        class="fa-solid fa-pen-to-square"></i></a></td>
                            <td><a style="cursor:pointer" (click)="deletePlayer(player.playerId)"><i
                                        class="fa-solid fa-trash-can"></i></a></td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button data-bs-toggle="modal" data-bs-target="#exampleModal3" type="button" class="btn btn-primary">Add
                    Player</button>
            </div>
        </div>
    </div>
</div>



<!--Edit Player Popup-->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Player...</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form #form="ngForm">
                    <div class="row mt-2">
                        <div class="col">
                            <div class="input-group flex-nowrap">
                                <span class="input-group-text" id="addon-wrapping"><i
                                        class="fa-solid fa-pen-fancy"></i></span>
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="floatingInput"
                                        placeholder="name@example.com" name="playerFirstName"
                                        [(ngModel)]="EditPlayer.playerFirstName">
                                    <label for="floatingInput">Player FirstName:</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col">
                            <div class="input-group flex-nowrap">
                                <span class="input-group-text" id="addon-wrapping"><i
                                        class="fa-solid fa-pen-fancy"></i></span>
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="floatingInput"
                                        placeholder="name@example.com" name="playerLastName"
                                        [(ngModel)]="EditPlayer.playerLastName">
                                    <label for="floatingInput">Player LastName:</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col">
                            <div class="input-group flex-nowrap">
                                <span class="input-group-text" id="addon-wrapping"><i
                                        class="fa-solid fa-pen-fancy"></i></span>
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="floatingInput"
                                        placeholder="name@example.com" name="playerAge"
                                        [(ngModel)]="EditPlayer.playerAge">
                                    <label for="floatingInput">Player Age:</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col">
                            <div class="input-group flex-nowrap">
                                <span class="input-group-text" id="addon-wrapping"><i
                                        class="fa-solid fa-pen-fancy"></i></span>
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="floatingInput" name="playerGender"
                                        placeholder="name@example.com" [(ngModel)]="EditPlayer.playerGender">
                                    <label for="floatingInput">Player Gender:</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" (click)="updatePlayer()" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>



<!--Edit Team Popup-->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Team...</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form #form="ngForm">
                    <div class="row mt-2">
                        <div class="col">
                            <div class="input-group flex-nowrap">
                                <span class="input-group-text" id="addon-wrapping"><i
                                        class="fa-solid fa-pen-fancy"></i></span>
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="floatingInput"
                                        placeholder="name@example.com" name="teamName" [(ngModel)]="EditTeam.teamName">
                                    <label for="floatingInput">Team Name:</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col">
                            <div class="input-group flex-nowrap">
                                <span class="input-group-text" id="addon-wrapping"><i
                                        class="fa-solid fa-pen-fancy"></i></span>
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="floatingInput"
                                        placeholder="name@example.com" name="teamImage"
                                        [(ngModel)]="EditTeam.teamImage">
                                    <label for="floatingInput">Team Image:</label>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row mt-2">
                        <div class="col">
                            <div class="input-group flex-nowrap">
                                <span class="input-group-text" id="addon-wrapping"><i
                                        class="fa-solid fa-pen-fancy"></i></span>
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="floatingInput" name="teamLocation"
                                        placeholder="name@example.com" [(ngModel)]="EditTeam.teamLocation">
                                    <label for="floatingInput">Team Location:</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col">
                            <div class="form-floating mt-2">
                                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                                    style="height: 5rem" name="teamDescription"
                                    [(ngModel)]="EditTeam.teamDescription"></textarea>
                                <label for="floatingTextarea2">Team Description:</label>
                            </div>
                        </div>
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" (click)="updateTeam()" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


<!--Add Player Popup-->
<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Team...</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="playerForm">
                    <div class="row mt-2">
                        <div class="col">
                            <div class="input-group flex-nowrap">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="floatingInput"
                                        formControlName="playerFirstName" placeholder="name@example.com">
                                    <label for="floatingInput">Enter Player Firstname</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">
                            <div class="input-group flex-nowrap">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="floatingInput"
                                        formControlName="playerLastName" placeholder="name@example.com">
                                    <label for="floatingInput">Enter Player Lastname</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">
                            <div class="input-group flex-nowrap">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="floatingInput"
                                        formControlName="playerAge" placeholder="name@example.com">
                                    <label for="floatingInput">Enter Player Age</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">
                            <div class="input-group flex-nowrap">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="floatingInput"
                                        formControlName="playerGender" placeholder="name@example.com">
                                    <label for="floatingInput">Enter Player Gender</label>
                                </div>
                            </div>
                        </div>
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" (click)="addPlayer()" class="btn btn-primary">Save Changes</button>
            </div>
        </div>
    </div>
</div>