<div class="register-page">
    <div class="register-header">
        Register
    </div>
    <div class="register-body">
        <select [(ngModel)]="userType" id="admin/user" placeholder="Enter admin/user">
            <option value="User">User</option>
            <option value="Admin">Admin</option>
          </select>
        <input id="email" [(ngModel)]="email" placeholder="Enter email">
        <input id="username" [(ngModel)]="username" placeholder="Enater username">
        <input id="mobileNumber" [(ngModel)]="mobileNumber" placeholder="Enter Mobilenumber">
        <input id="password" [(ngModel)]="password" type="password" placeholder="Password">
        <input id="confirmPassword" [(ngModel)]="confirmPassword" type="password" placeholder="Confirm Password">
        <span id="submitButton" class="register-button" (click)="onClickSubmit()">Submit</span>
        <div class="register-login">
            <span>Already a user?</span>
            <a id="signinLink" routerLink="user/login"> Login</a>
        </div>
    </div>
    
</div>