<nav class="navbar navbar-expand-lg" style="background-color:whitesmoke;">
    <div class="container-fluid" style="width: 85%;">
        <a routerLink="/admin-venue-list" class="navbar-brand w-25">
            <!-- Logo Image -->
            <img src="/assets/logo.png" width="55" alt="" class="d-inline-block align-middle mr-2">
            <!-- Logo Text Image -->
            <span class="text-uppercase fw-bold ms-3"><img src="/assets/logoname.png" alt="" style="width: 70%;"></span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a id="adminVenues" routerLink="/admin-venue-list" class="nav-link active fw-bold"
                        style="font-size: 18px; cursor: pointer;">Venue</a>
                </li>
                <li class="nav-item">
                    <a id="adminTeams" class="nav-link active fw-bold" routerLink="/teams" style="font-size: 18px;">Team</a>
                </li>
                <li class="nav-item">
                    <a id="adminReferee" class="nav-link active fw-bold" routerLink="/add-referee" style="font-size: 18px;">Referee</a>
                </li>
                <li class="nav-item">
                    <a id="logout" (click)="logOut()" class="nav-link active fw-bold"
                        style="font-size: 18px; cursor:pointer;">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>